@using System.Reflection
@using XCode
@using XCode.Configuration
@model WorkTask
@{
    var fact = EntityFactory.CreateOperate(ViewData.ModelMetadata.ModelType);
    var isNew = (Model as IEntity).IsNullKey;
}
<div class="panel panel-default">
    <div class="form-horizontal">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@ViewBag.StatusMessage</strong>
            </div>
        }
        @using (Html.BeginForm((isNew ? "Add" : "Edit"), null, new { id = Model[fact.Unique.Name] }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.Partial("_Form_Item", new Pair(Model, WorkTask._.Name))
            </div>
            <div class="form-group">
                @Html.Partial("_Form_Item", new Pair(Model, WorkTask._.Remark))
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">状态</label>
                <div class="input-group col-md-2" style="float: left">
                    @Html.ForEditor(WorkTask._.Status, Model.WorkStatus)
                </div>
                @Html.Partial("_Form_Item", new Pair(Model, WorkTask._.Progress))
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">优先级</label>
                <div class="input-group col-md-2" style="float: left">
                    @Html.DropDownList(WorkTask._.Priority.Name, new SelectList(Enumerable.Range(0, 10)))
                </div>
                @Html.Partial("_Form_Item", new Pair(Model, WorkTask._.Score))
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">负责人</label>
                <div class="input-group col-md-2" style="float: left">
                    <!--TODO:请对负责人及成员的下拉列表ID重新命名，目前两处命名只是为了功能演示，保证页面正常运行.另外未处理多选后保存多选成员数据到数据库的处理环节-->
                    @Html.ForDropDownList(WorkTask._.MasterID, UserX.FindAllWithCache(), "无")
                </div>
                <label class="control-label col-md-2">成员</label>
                <div class="input-group col-md-2" style="float: left">
                    @Html.ForListBox("Members", UserX.FindAllWithCache())
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">计划开始时间</label>
                <div class="input-group col-md-2" style="float: left">
                    @Html.ForDateTime(m => m.PlanTime)
                </div>
                @Html.Partial("_Form_Item", new Pair(Model, WorkTask._.PlanCost))
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">开始时间</label>
                <div class="input-group col-md-2" style="float: left">
                    @Html.ForDateTime(m => m.StartTime)
                </div>
                <label class="control-label col-md-2">结束时间</label>
                <div class="input-group col-md-2">
                    @Html.ForDateTime(m => m.EndTime)
                </div>
            </div>
            if (!isNew)
            {
                <div class="form-group">
                    @Html.Partial("_Form_Item", new Pair(Model, WorkTask._.Cost))
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">浏览数</label>
                    <div class="col-md-1">
                        @Model.Views.ToString("n0")
                    </div>
                    <label class="control-label col-md-1">修改次数</label>
                    <div class="col-md-1">
                        @Model.Historys.ToString("n0")
                    </div>
                    <label class="control-label col-md-1">评论数</label>
                    <div class="col-md-1">
                        @Model.Comments.ToString("n0")
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">创建者</label>
                    <div class="col-md-2">
                        @Model.CreateUserName
                    </div>
                    <label class="control-label col-md-2">创建时间</label>
                    <div class="col-md-2">
                        @Model.CreateTime.ToFullString()
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">更新者</label>
                    <div class="col-md-2">
                        @Model.UpdateUserName
                    </div>
                    <label class="control-label col-md-2">更新时间</label>
                    <div class="col-md-2">
                        @(Model.UpdateTime > DateTime.MinValue ? Model.UpdateTime.ToFullString() : null)
                    </div>
                </div>
            }
            <div class="form-actions">
                <label class="control-label col-md-4"></label>
                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-@(isNew ? "plus" : "save")"></i><strong>@(isNew ? "新增" : "保存")</strong></button>
                <button type="button" class="btn btn-danger" onclick="history.go(-1);"><i class="glyphicon glyphicon-remove"></i><strong>取消</strong></button>
            </div>
        }
    </div>
</div>