@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@model EntityList<TaskComment>
@{
    Layout = "~/Views/Shared/_Ace_Layout.cshtml";

    var task = ViewBag.Task as WorkTask;
}
<div class="panel panel-default">
    <div class="panel-body">
        @Html.ActionLink("回到任务 " + task.Name, "Edit", "Task", new { id = task.ID }, null)
    </div>
    <div class="container">
        <div class="row">
            <form action="@Url.Action("AddComment", new { id = task.ID })" method="post" role="form">
                @Html.TextArea("content")
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-purple btn-sm">
                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                        提交
                    </button>
                </span>
            </form>
        </div>
        @foreach (var entity in Model)
        {
            <div class="row">@entity.CreateUserName @entity.CreateTime.ToFullString()</div>
            <div class="row">@Html.Raw(@entity.Content)</div>
        }
    </div>
</div>