@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@model EntityList<TaskHistory>
@{
    Layout = "~/Views/Shared/_Ace_Layout.cshtml";

    var task = ViewBag.Task as WorkTask;
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
    var fields = ViewBag.Fields as List<FieldItem>;
}
<div class="panel panel-default">
    <div class="panel-body">
        @Html.ActionLink("回到任务 " + task.Name, "Edit", "Task", new { id = task.ID }, null)
    </div>
    <div class="panel-body">
        @foreach (var entity in Model)
        {
            <div class="row">
                @entity.Kind 由 @entity.SrcValue 修改为 @entity.NewValue  @entity.CreateUserName @entity.CreateTime.ToFullString()
            </div>
        }
    </div>
</div>