@using NewLife.Web;
@using XCode;
@using XCode.Configuration;
@model EntityList<TaskHistory>
@{
    Layout = "~/Views/Shared/_Ace_Layout.cshtml";

    var taskid = (Int32)ViewBag.TaskID;
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
    var fields = ViewBag.Fields as List<FieldItem>;
}
<div class="panel panel-default">
    <div class="panel-body">
        @Html.ActionLink("回到任务", "Edit", "Task", new { id = taskid }, null)
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th class="text-center">编号</th>
                    <th class="text-center">任务名称</th>
                    <th class="text-center">种类</th>
                    <th class="text-center">旧值</th>
                    <th class="text-center">新值</th>
                    <th class="text-center">创建人</th>
                    <th class="text-center">创建时间</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td class="text-center">@entity.ID</td>
                        <td class="text-center">@entity.TaskName</td>
                        <td class="text-center">@entity.Kind</td>
                        <td>@entity.SrcValue</td>
                        <td>@entity.NewValue</td>
                        <td>@entity.CreateUserName</td>
                        <td>@entity.CreateTime.ToFullString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>